
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}
.material-symbols-outlined {
  font-size: 20px;
  margin-left: 30%;
  margin-right: 5%;
}


header{
  display: flex;
  justify-content: space-between;
  background-color: rgb(1, 82, 82);
  color: white;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.links{
  display: flex;
  justify-content: space-between;
  list-style: none;
  
}
.list-item{
  font-size: larger;
  font-weight: 500;
  padding-right: 20px;
  margin: auto;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.home-component-headings{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: rgb(245, 247, 247);
  padding: 30px;
}

 .products-section h2{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 0;
}
 .products{
  display: grid;
  grid-template-columns: repeat(3, minmax(0, 1fr));
  gap: 30px;
  margin-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
 .products .products-items{
  background-color: rgb(245, 247, 247);
  width: 90%;
  height: 100%;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  padding: 0 10px 10px 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.products .products-items p{
  background-color: white;
  padding: 10px;
  width: 100%;
}
 .products .products-items h3{
  background-color: rgb(1, 82, 82);
  color: white;
  margin-top: 0;
  padding: 10px;
  width: 100%;
  border-radius: 20px 20px 0 0;
}
 .products .products-items img{
  width: 80%;
}
 .products .products-items .readMore{
  border: none;
  border-radius: 20px;
  background-color: rgb(3, 144, 144);
  color: white;
  padding: 10px;
  cursor: pointer;
  text-decoration: none;
  
}
.products .products-items .readMore:hover{
  background-color: white;
  color: rgb(3, 144, 144);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.home-component .products-section .all-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 20px;
}
.home-component .products-section .all-btn .link{
  background-color: black;
  color: white;
  border: none;
  padding: 10px;
  width: 200px;
  cursor: pointer;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}


.details{
  background-color: rgb(245, 247, 247);
  width: 80%;
  height: 500px;
  margin: auto;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 50px;
  margin-top: 40px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 25px;
  font-family: "Poppins", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.details .category{
  font-size: 18px;
  font-weight: 500;
  margin-right: 10px;
}
.details .price{
  text-decoration: line-through;
  color: rgb(230, 2, 2);
}
.details .dis{
  color: rgb(1, 160, 1);
}
.details .images{
  display: flex;
  align-items: center;
  flex-direction: column;
  
}
.details .mainImg{
  
  height: 400px;
  object-fit:cover;
  margin-top: -10%;
}
.details .subImg{
  display: flex;
  gap: 10px;
}
.details .subImg img{
  border: 1px solid rgb(214, 215, 215);
  border-radius: 10px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  cursor: pointer;
}
.details button{
  margin-top: 30px;
  font-size: 16px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  background-color: rgb(1, 82, 82);
  color: white;
  width: 200px;
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  display: flex;
  align-items: center;
}
.subImg img{
  width: 100px;
}

.categories{
  margin: auto;
}

.catBtns{
  border-radius: 25px;
  font-size: 16px;
  margin: 5px;
  border: none;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  padding: 5px 10px;
  cursor: pointer;
}
.catBtns.active{
  background-color: rgb(1, 82, 82);
  color: white;
}

.search{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.search-bar{
  display: flex;
  align-items: center;
  border: none;
  box-shadow: 0px 0px 8px #cbcaca;
  width: 35%;
  margin: auto;
  margin-top: 50px;
  padding-left: 20px;
}
.search-bar input{
  border: none;
  font-size: 16px;
  padding: 5px;
  margin-left: 5px;
  width: 90%;
}
.search-bar input:focus{
  outline: none;
}

.search .search-results{
  margin: auto;
}
.search .search-results ul{
  list-style: none;
  padding: 10px 15px;
  
}
.search .search-results ul.exist{
  border: 1px solid gainsboro;
  max-height: 150px;
  overflow-y: scroll;
  background-color: white;
  border-radius: 10px;
}
.search .search-results ul .search-item{
  font-weight: 500;
  cursor: pointer;
  padding: 3px;
  border-radius: 5px;
  margin: auto;
  text-decoration: none;
  color: black;
}
.search .search-results ul li:hover{
  background-color: #efeded;
}
